head
    title WhooPeek
    // meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="black")
    // link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="manifest" href="/manifest.json")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
    //- script(src="https://semantic-ui.com/javascript/library/tablesort.js")

    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-156965333-1")
    
    // link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="")

    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="")
    //- script(async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")        
    
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-156965333-1');

template(name='layout')
    div.main_content.scrolling(style="background-image:url('https://freedesignfile.com/upload/2017/01/Colorful-blurred-background-with-halation-effect-vector-04.jpg'); background-repeat: no-repeat;  background-size: cover;")    
        // div.main_content(style="background-image:url('https://freedesignfile.com/upload/2017/01/Colorful-blurred-background-with-halation-effect-vector-06.jpg'); background-repeat: no-repeat;  background-size: cover;")    
        +nav
        +yield



template(name='admin')
    .ui.header doc count #{doc_count}
