template(name='nav')
    .ui.fluid.attached.borderless.three.item.menu(style="opacity:25%;")
        a.icon.item(href="/recently" class="{{isActiveRoute regex='recently'}}")
            i.clock.large.icon
        a.icon.item(href="/" class="{{isActiveRoute 'map'}}")
            i.marker.big.icon
        if currentUser
            a.icon.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='profile'}}")
                i.user.large.icon
        else
            a.icon.item(href="/login" class="{{isActiveRoute regex='login'}}")
                i.sign.in.large.icon
        



template(name='map')
    #mapid
    unless pos
        .ui.large.compact.basic.fluid.button.refresh
            i.marker.icon
            |reload location data
    .ui.one.column.padded.grid
        .column
            .ui.small.header People Near You
            .ui.four.column.stackable.padded.grid
                each nearby_people
                    .column
                        .ui.segment.rounded.zoomer.pointer.goto_user
                            img.ui.tiny.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                            a.ui.header(href="/user/#{username}") #{username}
                                if age
                                    |#{age}
                            // |!{about}
            if is_admin
                .ui.list
                    with pos.coords
                        .item accuracy #{accuracy}
                        .item altitude #{altitude}
                        .item altitudeAccuracy #{altitudeAccuracy}
                        .item heading #{heading}
                        .item latitude #{latitude}
                        .item longitude #{longitude}
                        .item speed #{speed}
                        .item timestamp #{timestamp}
                    
            
            
template(name='text_edit')
    div
    if icon
        //- i.grey.icon(class=icon)
        +icon name=icon cl='ui avatar image'
    .ui.inline.small.header
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
            //- +clear_value
    .ui.icon.large.fluid.input
        input.edit_text(type='text' value=field_value placeholder=placeholder autocomplete="off")
        
        
        
template(name='array_edit')
    // .spacer
    // if icon
    //     i.grey.icon(class=icon)
    //     // +icon name=icon cl='ui avatar image'
    // .ui.inline.header
    //     |#{field_value.length}
    //     if title
    //         |#{title}
    //     else if label
    //         |#{label}
    //     else if key
    //         |#{key}
    .ui.icon.input
        i.icon(class=icon)
        input.new_element(type='text' placeholder="#{field_value.length} #{label}" autocomplete="off")
    if field_value
        each field_value
            if currentUser
                .ui.basic.label.touch_element
                    i.delete.icon.remove_element
                    |#{this}
                // .ui.compact.button.pick_tag
                //     |#{this}
            else
                .ui.compact.basic.button.pick_tag
                    |#{this}

template(name='textarea_edit')
    .ui.large.form
        .field
            label 
                if icon
                    // i.icon(class=field_value)
                    +icon name=icon cl='ui avatar image'
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='7') #{field_value}
