template(name='map')
    unless currentUser
        +login
    +location
template(name='location')        
    #mapid
    .ui.header pos #{pos}
    .ui.list
        with pos.coords
            .item accuracy #{accuracy}
            .item altitude #{altitude}
            .item altitudeAccuracy #{altitudeAccuracy}
            .item heading #{heading}
            .item latitude #{latitude}
            .item longitude #{longitude}
            .item speed #{speed}
            .item timestamp #{timestamp}
    .ui.header lat #{lat}
    .ui.header lon #{lon}
            
template(name='search_term')
    button.ui.big.compact.button.select_query
        if term.image
            //- button.ui.compact.circular.button(tabindex="0" title=count)
            //- img.ui.mini.inline.image(src=term.image)
            img.ui.mini.inline.image(src=term.image)
        |#{title}
                    
                    
template(name='agg_tag')
    button.ui.tertiary.large.circular.button.result(tabindex="0" title=count)
        if term.image
            //- button.ui.compact.circular.button(tabindex="0" title=count)
            //- img.ui.mini.inline.image(src=term.image)
            img.ui.mini.inline.image(src=term.image)
            .ui.inline.small.thin.header(class=tag_result_class) #{title}
        else
            //- button.ui.compact.circular.button(tabindex="0" title=count)
            .ui.inline.small.thin.header(class=tag_result_class) #{title}

        //- small #{count}
                    
