template(name='nav')
    .ui.fluid.attached.borderless.inverted.teal.three.item.menu
        // a.icon.item.toggle_sidebar.no_blink
        //     i.bars.icon
    
        a.icon.item.blink.clear(href="/" class="{{isActiveRoute regex='home'}}")
            i.clock.large.icon
        a.icon.item.blink.clear(href="/map" class="{{isActiveRoute 'people'}}")
            i.marker.large.icon
        a.icon.item.blink.clear(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='home'}}")
            i.user.large.icon


template(name='map')
    #mapid
    .ui.header pos #{pos}
    .ui.list
        with pos.coords
            .item accuracy #{accuracy}
            .item altitude #{altitude}
            .item altitudeAccuracy #{altitudeAccuracy}
            .item heading #{heading}
            .item latitude #{latitude}
            .item longitude #{longitude}
            .item speed #{speed}
            .item timestamp #{timestamp}
    .ui.header lat #{lat}
    .ui.header lon #{lon}
            