template(name='recently')
    .ui.stackable.padded.grid(style="background-image=url('https://image.freepik.com/free-vector/colorful-blurred-background_1035-3334.jpg')")
        .centered.row
            .eight.wide.center.aligned.column
                .ui.inline.header Local posts about #{my_longform} (#{my_category})
                .ui.basic.button
                    i.plus.icon
                    |add live post
                .ui.input
                    input.add_live_post(type='text' placeholder="Type your live post...")
                    
                if adding_live_post
                    .ui.fluid.input
                        input.add_live_post(type='text' placeholder="Type your live post...")
                .scrolling.pad
                    each recent_posts
                        +recent_post
                        .spacer
                
                
template(name='recent_post')                
        .ui.segment.rounded
            img.ui.tiny.circular.image.inline.zoomer(src="{{c.url author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
            a(href="/user/#{author.username}")
                a.ui.inline.header(href="/user/#{author.username}") #{author.username}, 
                    if author.age
                        |#{author.age}
            |#{when}
            .ui.inline.header
                |!{content}
            i.thumbs.up.icon.zoomer
            i.thumbs.down.icon.zoomer
            i.chat.icon