template(name='recently')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.header Recently Near You
            each checkins
                +recent_checkin
                
                
template(name='recent_checkin')                
    a.ui.padded.grid.zoomer(href="/user/#{author.username}")
        .four.wide.column
            img.ui.tiny.circular.image.zoomer(src="{{c.url author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
        .twelve.wide.column
            .content
                a.ui.header(href="/user/#{author.username}") #{author.username}, #{author.age}
                |#{when}