template(name='profile')
    with user
        .ui.stackable.padded.grid
            .sixteen.wide.column
                span.mobile.only
                    a(href="/u/#{username}/")
                        img.ui.centered.tiny.inline.spaced.circular.image.zoomer.boop(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                span.mobile.hidden
                    a(href="/u/#{username}/")
                        img.ui.centered.medium.circular.image.zoomer.boop(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}") 
                a.ui.header.refresh_user_stats(href="/u/#{username}") 
                    |#{name}
                // div
                a.ui.small.header.refresh_user_stats(href="/u/#{username}") 
                    |@#{username}
                .ui.label #{profile_views} views
                // +user_follow_button
                // .ui.button.join
                //     |join
                if is_admin
                    a.ui.icon.button(href="/u/#{username}/edit" title='admin edit account')
                        i.shield.large.icon
                        // |account
                if is_current_user
                    a.ui.icon.button(href="/u/#{username}/edit" title='edit your account')
                        i.cog.icon
                        // |account
                    a.ui.icon.button.logout(href="#" title='log out')
                        i.sign.out.icon
                        // |log out
                if is_dev
                    .ui.small.inline.header #{_id}
                    +print_this
                       
            .thirteen.wide.column
                a.ui.icon.large.button.select_term.no_blink(href="/u/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                    i.large.dashboard.icon
                    // span dashboard
                if currentUser
                    a.ui.large.button.select_term.no_blink(href="/u/#{username}/posts" class="{{isActiveRoute 'user_posts'}}" title="#{user.username} posts")
                        i.newspaper.large.icon
                        |#{user_post_count}
                        // span posts
                    a.ui.icon.large.button.select_term.no_blink(href="/u/#{username}/comments" class="{{isActiveRoute 'user_comments'}}" title="#{user.username} comments")
                        i.chat.large.icon
                        |#{user_comment_count}
                if is_dev
                    +print_this
                .ui.hidden.divider
                



template(name='user_follow_button')
    unless is_current_user
        if is_following
            .ui.black.animated.fade.button.unfollow(title='unfollow')
                .hidden.content
                    i.minus.large.icon
                    |unfollow
                .visible.content
                    i.checkmark.large.icon
                    |follow
        else
            .ui.animated.fade.button.follow(title='follow')
                .hidden.content
                    i.plus.large.icon
                    |follow
                .visible.content
                    i.user.plus.large.icon
                    |follow




template(name='feed_item')
    .event.mark_viewed(class=read_class)
        .label 
            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            .summary
                a.user #{_author.username}
                |#{body}
                .date
                    |#{when}
            .meta 
                // +voting_small
                i.envelope.icon
                i.lock.icon
                +remove_icon
                i.share.icon





template(name='session_select')
    .ui.icon.button
        i.icon(class=icon)


template(name='user_posts')
    .ui.header 
        i.newspaper.icon
        |posts
    .ui.link.selection.animated.list.scrolling
        each posts
            a.ui.item(href="/p/#{_id}") 
                .content
                    if image_link
                        +image_link_view key='image_link' direct=true
                    if image_id
                        img.ui.circular.image.no_left(src="{{c.url image_id }}" class=currentUser.invert_class)
                    if youtube_id
                        .no_left
                            +youtube_view key='youtube_id' label='youtube id' direct=true
                
                    .header #{title} 
                    |#{when}
                    each seven_tags 
                        .ui.mini.label #{this}
                    +author_info


